// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #D89D58;
$dark-orange: #BE7520;
$taupe: #DDD8D3;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$medium-gray: #7B7B7B;
$brown: #433219;
