// Specific CSS for your home-page

.full-width {
  width: 100%;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid $orange;
}

#new-user-header {
  padding-top: 5vh;
  height: 65vh;

  h1 {
    font-size: 9rem;
    font-weight: 200;
  }
}

#new-user-home-button {
  display: flex;
  justify-content: space-between;
}
.new-user-home-link {
  border: 1px solid #000;
  border-radius: 50px;
  width: 31%;
  text-align: center;
  font-size: 3rem;
  padding: 10px 75px;

  &:hover {
    background: $orange;
    cursor: pointer;
  }
}
