// Specific CSS for your home-page

.full-width {
  width: 100%;
}

// Registration forms
.registration-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#new-user-header {
  padding-top: 5vh;
  height: 65vh;

  h1 {
    font-size: 9rem;
    font-weight: 200;
  }
}

// Styles for homepage when user is not signed in
.new-user-home {
  background-color: $dark-orange;
}

.new-user-img {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  font-size: 1.5em;

  .logo img {
    height: 75px;
  }
}

.home-header,
.hero {
  z-index: 1;
  position: absolute;
  width: 100vw;
}

.header-links a {
  margin: 0 30px;
}

.hero {
  margin-top: 7.5vh;
}

.header-authentication-links {

  a:first-of-type {
    margin-right: 30px;
  }
  a {
    padding: 5px 15px;
  }
}

.new-user-home-link {
  border: 1px solid #000;
  border-radius: 50px;
  width: 100%;
  text-align: center;

  &:hover {
    background: $orange;
    cursor: pointer;
  }
}
