// Import page-specific CSS files here.
@import "home";
@import "devise-form";

body {
  background-color: #E2E2E2;
}

.main {
  padding: 50px;
  max-height: 100vh;
  font-family: $inter;
  font-weight: 300;
}

.main-signed-in {
  margin-left: 17vw;
  overflow: auto !important;
}

a {
  color: #000;

  &:hover {
    text-decoration: none;
    color: #000;
  }
}

.section-title {
  text-transform: uppercase;
  color: $orange;
  font-weight: 400;
}
