// Import page-specific CSS files here.
@import "home";
@import "devise-form";
@import "show";

body {
  background-color: #E2E2E2;
  font-family: $inter;
}

.main,
.authen-main {
  height: 100vh;
  font-family: $inter;
  font-weight: 300;
}

.main-signed-in {
  padding: 50px;
  margin-left: 17vw;
  overflow: auto !important;
}

a {
  color: #000;

  &:hover {
    text-decoration: none;
    color: #000;
  }
}

button {
  border: none;
  background: none;
}
