.project-show {
  display: flex;
  margin-bottom: 20px;

  h1 {
    color: $orange;
    font-size: 0.85em;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .project-name {
    margin-right: 50px;
  }

  .gray {
    color: $medium-gray;
  }
}

.project-show-button {
  padding: 5px 15px;
  border-radius: 50px;
}

.project-details {
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.project-action-buttons {
  display: flex;
}

// headers for above project cards
.project-headers {
  margin: 10px 15px;
  text-transform: uppercase;
  font-size: 0.9em;
}

// The grid for 'all projects' and 'completed'
.grid {
  display: grid;
  justify-content: space-between;
}

.index-grid {
  grid-template-columns: 225px 200px 125px 100px repeat(3, 125px);
}

.invoices-grid {
  grid-template-columns: repeat(3, 1fr) 150px;
}

.projects-grid {
  grid-template-columns: repeat(2, 250px) 1fr 1fr repeat(4, 100px);
}

.clients-grid {
  grid-template-columns: 50% 30% 1fr;

  a {
    text-align: center;
  }

  a:hover {
    transform: scale(1.2);
  }
}

.client-grid {
  grid-template-columns: 50% 150px repeat(3, 125px);
}

.bottom-border {
  border-bottom: 1px solid #000;
}

.show-projects-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
  padding-bottom: 40px;
}

.page-title {
  font-weight: 300;
  font-size: 2em;
}
