<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= render 'new', project: @project %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Add a new project
</button>
