<div class="main main-signed-in col-8">
<h1 class="dashboard m-5"><%= params[:client] %>'s projects</h1>
  <% @projects_of_client.each do |project| %>
      <div class="project-card d-flex justify-content-between align-items-center my-3">
        <div class="card-project col-4"><p class="margin-b"><%= project.name %></p></div>
        <div class="card-project deadline"><p class="margin-b"><%= project.deadline %></p></div>
        <div class="card-project"><p class="margin-b">Edit</p></div>
        <div class="card-element"><p class="margin-b">Delete</p></div>
        <div class="card-arrow"><i class="fas fa-caret-right fa-2x btn-play"></i></div>
      </div>
  <% end %>
</div>
