.btn-login {
  color: white;
  background-color: $brown;
  padding: 10px 30px;
  font-size: 1.1em;
  border-radius: 50px;
  font-weight: 300;
  transition: 0.2s;

  &:hover {
    transform: scale(1.1);
    color: #fff;
  }
}

.btn-play {
  color: $orange;
}

.dropdown-toggle {
  background-color: transparent;
  border: transparent;
}

.dropdown-toggle:hover {
  background-color: transparent;
  border: transparent;
}
