.btn-login {
  color: white;
  background-color: black;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  margin-bottom: 10px;
}

.btn-play {
  color: $orange;
}

.dropdown-toggle {
  background-color: transparent;
  border: transparent;
}

.dropdown-toggle:hover {
  background-color: transparent;
  border: transparent;
}
