.project-card {
  border: 1px solid black;
  padding: 8px 24px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
  display: grid;
  grid-template-columns: repeat(3, 250px);
}

.project-item {
  padding: 15px;
  background: $project-item;
  border-radius: 25px;
  align-items: center;
  margin-bottom: 15px;

}

.projects-edit-btn {
  background: #6F6A63;
  border-radius: 50px;

  p {
    text-align: center;
    padding: 5px;
    margin: auto;
  }

  button,
  a {
    color: #fff;
  }
}

.projects-delete-btn {
  background: #4B453C;
  border-radius: 50px;

  p {
    text-align: center;
    padding: 5px;
    margin: auto;
  }

  a {
    color: #fff;
  }
}

.projects-edit-btn,
.projects-delete-btn {
  transition: 0.2s;

  a:hover {
    color: #fff;
  }

  &:hover {
    transform: scale(1.1);
  }
}



.margin-auto {
  margin: auto !important;
}
