.search-container {
    right: 0px;
    position: relative;
    border: 1px solid #000;
    border-radius: 50px;
    height: 50px;
    width: 400px;

    input[type="submit"] {
      width: 40px;
      position:absolute;
      height: 50px;
      background: transparent;
      border: none;
      z-index: 2;
    }

    .search-arrow {
      position: absolute;
      z-index: 0;
      padding: 15px;
    }
}

.searchBox {
    padding: 0 25px;

}

.searchBox:hover>.searchButton {
    color: #000;
}

.searchButton {
    float: right;
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 50px;
    width: 90%;
}
