.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background-color: #E9E9E9;
  font-family: $inter;
  font-weight: 400;
  width: 17vw;
  padding: 35px;

  h1 {
    font-weight: 400;
  }

  .sidebar-title {
    color: $orange;
    font-size: 0.85em;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .sidebar-link {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em !important;
  }


  > * {
    width: 100%;
  }
}

.sidebar-section {

  button {
    margin-bottom: 25px;
  }

  > * {
    display: block;
  }
}

.logout {
  img {
    margin-right: 15px;
  }
}
