.timetracker-module {
    background-color: #D3C9BD;
    border-radius: 50px;
}

.timetracker-project {
    border-color: transparent;
    background-color: transparent;
    height: 5%;
    width: 35%;
    line-height: 0.4 !important;
}

.timetracker-description {
    border-color: transparent !important;
    background-color: transparent !important;
    height: 5% !important;
    padding-top: 1.2em !important;
    padding-bottom: 0rem !important;
    padding-left: 1em !important;
    padding-right: 0em !important;
    margin-bottom: 0em !important;
    width: 300px;
    border-radius: 10px !important;
    text-align: left;
    font-size: 1rem !important;
    line-height: 1 !important;
    margin-bottom: .7 !important;
}

.timetracker-submit {
    border-color: transparent;
    background-color: transparent;
    height: 5%;
    width: 30%;
    line-height: 0.4 !important;
}

.fontsizelarge {
    margin-bottom: 0% !important;
}

.card-project {
    width: auto;
}